.button1{
    background-color:rgb(18,62,91); ;
    color:papayawhip;
    border-radius: 8px ;
    border-color: rgb(3, 32, 51);
    shape-margin: 0.5px;
  }
.button1:hover{
  background-color: rgb(40, 125, 182);;
}
  
.nav_color{
  background-color: rgb(18,62,91);
}

.nav-link{
  color: white;
}
.nav-link:hover{
  text-decoration:none;

  color: papayawhip;
}
li{
  list-style: none;
}
.btn_sesion{
  margin-right:1em ;
  width: 40px;
  text-decoration:none;
  color:white;
  border-radius: 8px ;
  padding: 0.6em;
}

.btn_sesion:hover{
  text-decoration:none;
  color: papayawhip;
}