{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../../static/ArtesanosApp/bootstrap/bootstrap-4.6.0-examples/assets/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../../static/ArtesanosApp/bootstrap/bootstrap-4.6.0-dist/css/bootstrap.min.css" />
    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/carousel/" />
    <link rel="stylesheet" href="../../static/ArtesanosApp/bootstrap/bootstrap-4.6.0-dist/css/bootstrap.min.css.map" />
    <link rel="stylesheet" href="../../static/ArtesanosApp/style/conf_producto.css">
    <link rel="stylesheet" href="../../static/ArtesanosApp/style/stylefooter.css" />
    <link rel="stylesheet" href="../../static/ArtesanosApp/style/style_header.css" />
    <script src="../../static/ArtesanosApp/js/sweet_alert.js"></script>
    <title>Mercado Artesanos</title>

  </head>
  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class=" navbar navbar-expand-md  fixed-top nav_color">
        <a class="navbar-brand" href="{% url 'home' %}"
          ><img src="../../static/ArtesanosApp/icons/tienda-en-linea.png" alt="Mercado artesanos" height="50px"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Inicio </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'productos' %}">Productos</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'contacto_artesanos' %}">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'aboutUs' %}">Acerca de nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'listar_productos' %}">configurar productos</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
           
            <a href="{% url 'registro_artesanos' %}">
              <input type="button" class="button1" value="Registrarse" />
            </a>
            <select id="slc_money" name="cambio_de_moneda" class="cambio_moneda1">
              <!-- CAMBIO A DOLLAR  -->
              <option id="slc_dollar" value="dollar" class="cambio_moneda">dollar</option>
              <!-- CAMBIO A CLP -->
              <option id="slc_clp" value="clp" class="cambio_moneda">clp</option>
            </select>
          </form>
        </div>
      </nav>
      <!-- INICIO CARRUSEL -->
    </header>
    <!-- SWEET ALERT2 -->
    <script>
      function eliminaProducto(id){
        Swal.fire({
          "title": "¿Estas seguro?",
          "text":"Esta acción no se puede deshacer",
          "icono":"question",
          "showCancelButton":true,
          "cancelButtonText":"No , Cancelar",
          "confirmButtonText":"Si , Eliminar",
          "reverseButtons":true,
          "confirmButtonColor":"#FF0000",
          "cancelButtonColor":"#218838"
      
        })
        .then(function(result){
          if(result.isConfirmed){
            window.location.href = "/conf/del/"+id
          }
        })
      }
      </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
        {% for m in messages %}
        <script>
          Swal.fire({
            "title":"Atencion",
            "text":"{{m}}",
            "icon":"warning"
          })
        </script>
        {% endfor %}
    {% endif %}

    <div class="container">
        <br><br><br><br>
      <h1 style="text-align: center !important">Mantenedor de Productos</h1>
      
      
      {% if form  %}
      <form method="POST" action="" enctype="multipart/form-data" id="formulario">
        <div class="form-group">{% csrf_token %} {{ form|crispy }}</div>
        <input type="submit"  class="btn btn-primary btnwidth" id="id_guardar" value="Guardar" />
        <!-- <input type="reset" class="btn btn-primary btnwidth" id="id_nuevo" value="Nuevo"> -->
        
        {% if id != '-1' %}
        <a class="btn btn-danger btnwidth" href="{% url 'conf_producto' 'del' id %}">Eliminar</a>
        {% endif %}
        
        
    </form>
    <br><br><br><br><br><br>
    
    {% endif %} {% if list %}
      <table id="tabla_datos " class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Nombre Producto</th>
            <th>Precio</th>
            <th>Descripción</th>
            <th>Imagen</th>
            <th class="titulo_boton">Editar</th>
            <th class="titulo_boton">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for pd in list %}
          <tr >
            <td class="align-middle" >{{ pd.id }}</td>
            <td class="align-middle">{{ pd.nombre_producto }}</td>
            <td class="align-middle">{{ pd.precio }}</td>
            <td class="align-middle">{{ pd.descripcion }}</td>
            <td><img src="/media/{{ pd.image }}" class="imagen_mini" alt="" /></td>
            <td class="align-middle">
              <a href="{% url 'conf_producto' 'upd' pd.id %}" class="btn btn-primary btn-sm  ">Editar</a>
            </td>
            <td class="align-middle">
              <a  class="btn btn-danger btn-sm " onclick="eliminaProducto({{ pd.id }})">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
      <br />
    </div>

    <!-- SWEET ALERT2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <br><br><br><br>
    <footer class="footer1">
      <div class="container">
        <div class="row1">
          <div class="footer-col">
            <h4>ubicacion</h4>
            <ul>
              <li><p>Ricardo Matte Pérez 0270 Valparaiso</p></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>contacto</h4>
            <ul>
              <li><p>wsp:+56956872415</p></li>
              <li><p>MercadoArtesanos@contacto.cl</p></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>acceso rapido</h4>
            <ul>
              <li><a href="{% url 'home' %}">inicio</a></li>
              <li><a href="{% url 'productos' %}">productos</a></li>
              <li><a href="{% url 'contacto_artesanos' %}">contáctenos</a></li>
              <li><a href="{% url 'aboutUs' %}">acerca de nostros</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Redes sociales</h4>
            <div class="social-links">
              <a href="https://es-la.facebook.com/pg/hotelcesarnic/posts/?ref=page_internal"
                ><img height="50px" src="../../static/ArtesanosApp/icons/facebook.png"
              /></a>
              <a href="https://twitter.com/sheratonhotels?lang=es"
                ><img height="50px" src="../../static/ArtesanosApp/icons/gorjeo.png"
              /></a>
              <a href="https://www.instagram.com/sheratonscl/?hl=es-la"
                ><img height="50px" src="../../static/ArtesanosApp/icons/instagram.png"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
