{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/ArtesanosApp/bootstrap/bootstrap-4.6.0-dist/css/bootstrap.min.css" />
    <title>Registro de usuario</title>
</head>
<body>
    
    <div class="container">
        <br><br><br><br><br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2>Registro de usuarios</h2>
                        <hr>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form|crispy}}
                            <a href="{% url 'home' %}">Home</a> |
                            <a href="{% url 'login' %}">Inicias sesión</a>
                            <input type="submit" class="btn btn-success float-right"  value="Registrarse">
                          
                        </form>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- SWEET ALERT2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>